<nav class="navbar">
    <h1><a href="/">Mars</a></h1>
    <div>
        <a href="/create">Create New</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="/register">Register</a>
        <a href="/about">About</a>
    </div>
</nav>
