<nav class="navbar">
    <div class="nav-header">
        <img src="/images/favicon.png" >
        <h1><a href="/">Mars</a></h1>
    </div>
    <div>
        <a href="/create">Create New</a>
    </div>
</nav>
