@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

body{
    margin:0px;
    background-color: #F54768;
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #41436A;
    height: 8%;
}
nav > div >a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    color: #fb9a7d;
    font-family: 'Secular One', sans-serif;
}
nav > div >a:hover{
    color: rgb(255, 255, 255);
}
nav > h1 > a{
    text-decoration: none;
    margin-left: 20px;
    color: #FF9677;
    font-family: 'Londrina', cursive;
    font-size: 30px;
    margin-top: 5px;
}
nav > h1 >a:hover{
    color: rgb(255, 255, 255);
}

.all-blogs{
    display: grid;
    justify-content:center;
    background-color: #F54768;
    overflow: scroll;
    height: 115%;
}
::-webkit-scrollbar{
    display: none;
}
.blog{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90%;
    border-radius: 15px;
    margin-bottom:25px;
    margin-left: 15%;
    border-bottom: solid 5px;
    border-right: solid 5px;
    border-color: #fb9a7d;
    box-shadow: #fb9a7d;
}
.blog > .blog-header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: solid 2px;
    border-color: #974063;
}
.blog > .blog-header > h1{
    margin-left: 20px;
    font-family: 'Secular One', sans-serif;
    color: #974063;
}
.blog > .blog-header > p{
    margin-right: 20px;
    font-family: 'Secular One', sans-serif;
    color: #974063;
}
.blog > p{
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Secular One', sans-serif;
    color: #974063;
}
.Header{
    color: #ffff;
    font-weight: 10000;
    height: 100%;
    width:70%;
    margin-left: 16%;
    font-family: 'Londrina', cursive;
    font-size: 40px;
    margin-top: 10px;
}
.content{
    display: grid;
    height: 81%;
}